# Python cache / artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE / editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Python packaging
build/
dist/
*.egg-info/
